.search-bar{
position: fixed;
top: 40px;
text-align: center;
width: 100%;
height: 40px;
z-index: 10;
background-color: #c9c8f5;
}

.search-bar input{
    width: 60%;
    height: 25px;
    margin-top: 5px;
}

.food-shop{
    position: absolute;
    top: 100px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.food-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-left: 5px;
}
.details-container{
    position: fixed;
    left: 75%;
    right: 0;
    margin-left: 15px;
}