.food-shop{
    position: absolute;
    top: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.food-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-left: 5px;
}
.details-container{
    position: fixed;
    left: 75%;
    right: 0;
    margin-left: 15px;
}